In [1]:
#Creating List
my_list = [1,2,3,4,5]

#Adding an element in the list
my_list.append(6)

#Removing an element in the list
my_list.remove(3)

#Modifying an element in the list
my_list[2] = 8

#Inserting a new element into a specific position
my_list.insert(4, 9)

#Printing the new list
print("My New List:", my_list)

My New List: [1, 2, 8, 5, 9, 6]

In [5]:
#Creating a dictionary
my_dict = {'Name': 'Raj',  'City': 'Delhi', 'Age': 20, "Blood_Group": 'AB+'}

#Adding an element in the Dictionary
my_dict['Occupation'] = 'Doctor'

#Removing an element in the Dictionary
del my_dict['Blood_Group']

#Modifying an element in the Dictionary
my_dict['City']= 'Dehradun'

#Printing the new dictionary
print("My New Dictionary:", my_dict)

My New Dictionary: {'Name': 'Raj', 'City': 'Dehradun', 'Age': 20, 'Occupation': 'Doctor'}

In [6]:
#Creatign a new Set
my_set = {1, 'apple', 5, 'Transport'}

#Adding an element in the Set
my_set.add(8)

#Removing an element in the Set
my_set.remove('Transport')

#Printing the new Set
print("My New Set:", my_set)

My New Set: {1, 5, 8, 'apple'}